# Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
.venv/
venv/

# VS Code
.vscode/

# Streamlit
.streamlit/

# Secrets
config/google_drive.json
config/secrets.toml

# Logs
*.log

# Archivos temporales
*.tmp
*.bak

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store


# Python
__pycache__/
*.py[cod]
